<div class='container'>
    <h1 class='name'>Hi, <%=@host.hostname%></h1>
    <h4 class>Your Events:</h4>
    <ul>
    <%@events.each do |event|%>
        <li><%=link_to event.title, event_path(event.id)%></li>
    <%end%>
    </ul>
</div>