/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* nav bar */
 .navbar{
     background: #ba3329;
     width: 100%;
     padding:12px;
     display: flex;
     flex-wrap: wrap;
     }

 .nav-links{
    display: flex;
    /* justify-content:flex-start; */
 }

 .navbar a:link,
 .navbar a:visited {
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 30px 30px 30px 0px;
    margin-left: 5px;
  }

  #title-nav{
    padding-right: 30px;
    color: white;
    
  }
  
 /* event index */

 .event-title{
     color: white;
     background-color: rgb(161, 161, 161);
     text-align: center;
     margin-top: 30px;
 }

 .event-info p{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
 }

 .event-title a:link,
 .event-title a:visited {
    font-size: 30px;
    color: white;
  }

  /* welcome page */
 .welcome-container{
     background-image: url("https://images.unsplash.com/photo-1544818694-bfc4b9d5d644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
     background-repeat: no-repeat;
     background-size: cover;
     height:100vw;
     background-position: center;
     text-align: center;
 }

 #welcome-title{
    color:rgb(221, 220, 219);
    padding-top: 350px;
    padding-bottom: 20px;
    font-size: 100px;
    text-shadow:2px 2px rgb(12, 12, 12,0.5);
 }

 #welcome-button{
    padding: 10px 20px;
    font-size: 20px;
    background-color:#ad130e;
    border-color:#ad130e;
    border-radius: 5px;
 }

 #welcome-button a:link,
 #welcome-button a:visited{
    color: white;
    text-decoration: none;
 }

 /* .form{
     margin-left: 20%;
     margin-right: 20%;
     background-color: wheat;
     display: inline-flex
 }

 .label{
     padding:20px;
 } */

 /* forms */

 .container{
    margin: auto;
    padding: 10% 0%;
 }

 .container-flash{
    margin-top: 70px;
    padding:10px
 }

 .name{
     margin-bottom: 5%;
 }

 .btn{
     padding: 5px 20px ;
     margin-right: 20px;
     margin-top: 20px;
     border-color: black;
     border-radius: 10%;
 }

 #reviews{
     margin-top: 30px;
     font-weight: bold;
 }

 .content{
    padding: 5px 20px 50px 20px;
    border-style: solid;
    border-color: rgb(148, 144, 144);
 }

 .rating{
     padding-left: 20px;
     margin-bottom: 2px;
 }

 .card{
    border:none;
 }
 