/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Merriweather';
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

 #nav{
     background: #ba3329;
     width: 100%;
     padding:15px
 }

 .flex-container {
    display: flex;
    flex-wrap: wrap;
 }

 .events-info-block{
     width:30%;
     padding: 20px;
 }

 .form-block{
     width: 50%;
     padding: 10px;
 }

 .general-links{
    display: flex;
    justify-content: flex-start;
 }

 .nav-link{
     padding: 10px;
}

 .nav-link a:link,
 .nav-link a:visited {
    color: white;
    text-decoration: none;
  }

 .welcome-image{
     display: block;
     width: 100vw;
 }

 .form{
     margin-left: 20%;
     margin-right: 20%;
     background-color: wheat;
     display: inline-flex
 }

 .label{
     padding:20px;
 }

 